<html>
<head>
  <link href="/static/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Limelight&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore&v1' rel='stylesheet' type='text/css'>
  {% block extrahead %}
  {% endblock %}
</head>
<body>
  <div id="header">
  	<div class="logo">
	    <h1>SafeTrip</h1>
	    <h2>We want you safe</h2>
    </div>
  </div>
  {% block main %}
  {% endblock %}
  <div id="footer">
   	<p>&#169SafeTrip</p>
  </div>
</body>
</html>
