
<html> 
<head> 
  <link href="../static/main.css" rel="stylesheet"> 
  <link href='http://fonts.googleapis.com/css?family=Limelight&v1' rel='stylesheet' type='text/css'> 
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore&v1' rel='stylesheet' type='text/css'> 
</head> 
<body> 

	<div class="info">
		<div class="info-content">
			<h1><b>2.5 million people</b> from <b>127 different countries</b> are being trafficked around the world.<b>Human trafficking</b> is the <b>fastest growing criminal industry</b> in the world, generating <b>$32 Billion</b> in annual profit.</h1>
			<img src="../static/images/info.jpg"/>
		</div>
	</div>
 
</body> 
</html> 
