{% extends 'contentbase.html' %}

{% block content %}
<div id="register_form">
    <h3>Your Trip</h3>
    <div id="about_registration">
        <h4>What will you do with my details?</h4>
        All information you enter is private, and you can delete it at any
        time by texting SAFE to 5480605.
    </div>

    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ traveller_form.as_p }}
        <input type="submit" />
    </form>
</div>
{% endblock %}
